body {
    font-family: 'Roboto';
    font-size: 15px;
    align-items: center;
    padding-top: 5em;
}

/*Title font*/
h1 {
    font-family: 'Roboto';
    font-size: 3em;
    text-align: center;
}

/*Info textt*/
h2 {
   font-family: 'Roboto';
   font-size: 3em; 
   text-align: left; 
   padding: 0.8em;
   padding-bottom: 0.2em;
   color: black;
   border-bottom: #ff4949 solid 0.5em;
}

p {
   font-size: 2em;    
}
}
/*Container with the all the content in the page*/
.container div{
    //the child
    padding: 5px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 50px;
    margin-left: 20em;
}

/*Font for paragraphs*/
.box p{
   align-items: center;
   justify-content: center;
   max-width: 50em;
   font-size: 20px;
}

/*another container*/
.broken {
    max-width: 100em;
   align-items: center;
   justify-content: center;
   margin: auto;
}

/*Div of the about, target audience, and example app image*/
@media (min-width: 0px) {
  /*Eample app image*/
 .box-right img{
   display: inline-block;
     display: flex;
     margin: auto;
     padding-top: 1em;
    }
 .part1 {
  display: flex;
  flex-direction: column;
 }

 /*Logo image*/
.logo {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  width: 2000px;
  margin: auto;
  /*float: center;*/
}

.box-left box-right img{
  width: 50px;
}

}

@media (min-width: 1300px) {

  .box {
    padding-top: 10em;
  }

/*About box*/
  .box-left{
   display: inline-block;
      margin: auto;
      padding-bottom: 5em;
      padding-right: 5em;
 }

 .item {
  padding-bottom: 10em;
  margin: auto;
  float: top;
}

/*Example app image*/
 .box-right img{
   align-items: center;
   justify-content: center;
   float: center;
     display: inline-block;
     margin: auto;
     padding-left: 5em;
     padding-top: 15em;
    }
.box-left box-right img{
  width: 50px;
}


.TA {

}


 .part1 {
  display: flex;
  flex-direction: row;
 }
    
 }

}
/*End of div of the about, target audience, and example app image*/

/*Logo image*/
.logo {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  width: 200px;
  margin: auto;
  /*float: center;*/
}


/*How it works /key features*/
.HIW {
padding-bottom: 10em;
}

/*Example images*/
.exampleimg {
  /*align-items: center;*/
   /*justify-content: center;*/
   /*display: flex;*/
  margin: auto;
  float: center;
  padding-bottom: 10em;
  padding-left: 13em;
}

.exampleimg2 {
  /*align-items: center;*/
   /*justify-content: center;*/
   /*display: flex;*/
  margin: auto;
  float: center;
  padding-bottom: 10em;
  padding-left: 13em;
}
