body {
    font-family: 'Roboto';
    font-size: 15px;
    align-items: center;
    padding-top: 5em;
}

h1 {
    font-family: 'Roboto';
    font-size: 3em;
    text-align: center;
}

h2 {
   font-family: 'Roboto';
   font-size: 3em; 
   text-align: left; 
   padding: 0.8em;
   padding-bottom: 0.2em;
   color: black;
   border-bottom: #ff4949 solid 0.5em;
}

p {
   font-size: 1.5em;    
}


}


.container div{
    //the child
    padding: 5px;
/*    padding-left: 100px;*/
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 50px;
    margin-left: 20em;
/*    margin-right: 50em;*/
    /*border: 5px solid #d9f5f0;*/
/*    background-color: #fffa75;*/
    /*flex: 1 0 10em;*/
    /*align-items: center;*/
/*    max-width: 60em;*/
    /*// item property flex: flex-grow flex-shrink flex-basis;*/
    /*width: 100em;*/
}

.box p{
   align-items: center;
   justify-content: center;
   max-width: 50em;
}

.broken {
    max-width: 100em;
   align-items: center;
   justify-content: center;
   margin: auto;
}

@media (min-width: 0px) {
 .box-right img{
   display: inline-block;
     display: flex;
     margin: auto;
     padding-top: 1em;
     /*border: 1em green solid;*/

    }
 .part1 {
  /*border: 1em blue solid;*/
  display: flex;
  flex-direction: column;
 }
}
@media (min-width: 1300px) {

  .box {
    padding-top: 10em;
/*border: 1em blue solid;*/
  }

  .box-left{
   display: inline-block;
      margin: auto;
      padding-bottom: 10em;
      padding-right: 5em;
/*border: 1em blue solid;*/
 }

 .item {
  padding-bottom: 10em;
  margin: auto;
  float: top;
}

 .box-right img{
   align-items: center;
   justify-content: center;
   float: center;
     display: inline-block;
     margin: auto;
     /*border: 1em pink solid;*/
     /*padding-top: 12em;*/
     padding-left: 5em;
     padding-top: 15em;
    }
.box-left box-right img
{
  width: 50px;
}


.TA {

}
   

 .part1 {
  /*border: 1em blue solid;*/
  display: flex;
  flex-direction: row;
 }
    
 }





}


.box1 {
/*  background-color: #f2fdff;*/
 padding: 1em;
}

.logo {
  max-width: 100%;
  display: flex;
  min-height: 10em;
  max-height: 70em;
  margin: auto;
  float: center;
}

.home {
   margin: auto;
   float: inherit;
}



.HIW {
padding-bottom: 10em;
}