body {
    background-color: aliceblue;
}
/*////////Start of css with changes, from https://github.com/antimatter15/ocrad.js/////////*/
#ocr {
    margin-bottom: 50px;
    background: white;
}

#ocr {
    margin-bottom: 50px;
    background: white;
}

.output {
    background-color: ivory;
}

#output {
    padding: 20px;
    padding-bottom: 0;
    text-align: center; 
    min-height: 80px;
    color: black;
}

.nose:hover {
    background-color: rgb(255, 222, 211);
}
/*////////End of css with changes, from https://github.com/antimatter15/ocrad.js/////////*/            